{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock %}
    <title>{% block title %}Django E-commerce{% endblock %}</title>
</head>

<body>

    <div class="navbar">
        <div id="logo">
            <span>Django E-commerce</span>
        </div>

        <ul>
            <li>
                <a href="{% url 'index' %}">Início</a>
                <div></div>
            </li>
            <li>
                <a href="{% url 'catalogo' %}">Catálogo</a>
                <div></div>
            </li>
            <li>
                <a href="{% url 'contato' %}">Fale Conosco</a>
                <div></div>
            </li>
        </ul>

        <div id="login">
            <a href="#">Entrar / Registrar</a>
        </div>
    </div>


    <div class="body">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
        <span>Django E-commerce. Nenhum direito reservado :D</span>
    </footer>

</body>
</html>