{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% block title %}{{ nome_pagina }} | {{ block.super}}{% endblock %}



<!-- Body da Página -->

{% block body %}
    <div class="banner">
        <h1>Loja virtual Django,<br>onde se encontra tudo.</h1>
        <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</h2>
        <a href="{% url 'catalogo' %}">Acesse o Catálogo</a>
    </div>
{% endblock %}