/* Configuração Geral*/

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #eefffa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* Navbar */

.navbar{
    background-color: #043b2b;
    width: calc(100% - 6rem);
    height: 4rem;

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem 3rem;
}


/* Navbar->Logo */

#logo{
    width: 20rem;
    height: 2.5rem;
    margin-top: 0.5rem;
}

#logo span{
    display: inline-block;
    width: 100%;
    margin: 0 auto;

    text-align: center;
    font-size: 2rem;
    color: white;
}


/* Navbar->Menu */

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;

    margin: 1.3rem 0;
}

.navbar ul li{
    margin: 0 2rem;
}

.navbar ul a{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}


.navbar ul div{
    background-color: white;
    width: 0%;
    height: 0.2rem;

    margin-top: 0.2rem;

    transition: ease-in-out;
}

.navbar ul a:hover ~ div{
    width: 100%;

    transition: ease-in-out;
}


/* Navbar->Login */

#login{
    width: 20rem;
    height: 2.5rem;
    margin-top: 0.3rem;
}

#login a{
    display: inline-block;
    width: 100%;
    margin-top: 0.7rem;

    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}



/* Body */

.body{
    width: 80%;
    margin: 0 auto;
    padding: 10rem 0 5rem;
}


.body .nome_pagina{
    display: inline-block;

    margin-bottom: 4rem;
    font-size: 5rem;
}



/* Rodapé */

footer{
    background-color: #00ac83;
    width: 100%;
    height: 3rem;
}


footer span{
    display: inline-block;
    width: 100%;
    margin-top: 0.9rem;

    text-align: center;
    color: white;
}


