/* PÁGINA INICIAL */

.banner{
    background-color: white;
    height: calc(100vh - 28.1rem);
    padding: 5rem;

    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.banner h1{
    font-size: 5rem;
}


.banner h2{
    display: inline-block;
    height: 14rem;
    margin: 2rem 0;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}


.banner a{
    background-color: #043b2b;
    display: inline-block;
    padding: 1.5rem 2rem;

    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


.banner a:hover{
    background-color: #00ac83;
}
